<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="clearfix">
          <p class="pull-left" style="margin-top: 10px; margin-bottom: 20px;"><strong>{{ site.data.texts.modal_title }}</strong></p>
          <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <p>{{ site.data.texts.modal_line_1 }}</p>
        <p>{{ site.data.texts.modal_line_2 }}</p>
        <p>{{ site.data.texts.modal_line_3 }}</p>
        <img src="/img/sig.png">
        <br>
        <p>{{ site.data.texts.modal_name }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-block btn-lg btn-orange" data-dismiss="modal">Boek nu, Betaal later!</button>
      </div>
    </div>
  </div>
</div>
