<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="clearfix">
          <p class="pull-left" style="margin-top: 10px; margin-bottom: 20px;"><strong>Welkom Etos gast,</strong></p>
          <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <p>Veel plezier met het maken van uw boeking!</p>
        <p>U bent nog maar 1 stap verwijderd van<br>een heerlijk luxe hotelverblijf.</p>
        <p>Om het u zo gemakkelijk mogelijk te maken hebben wij alvast een topselectie gemaakt uit ons aanbod.</p>
        <img src="/img/sig.png">
        <br>
        <p><em>Elize de Ruijter<br><small>LuxuryHotelCompany</small></em></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-block btn-lg btn-orange" data-dismiss="modal">Boek nu, Betaal later!</button>
      </div>
    </div>
  </div>
</div>
